@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:lightsteelblue">
    <div style="background-color:lightblue">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/f33575d66100db4c3830ca1f53b1efa5.jpeg" class="d-block" width=100% height="550" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/001b704a-city-15939-163e0a462f2.jpg" class="d-block" width=100% height="550" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/6f38d4573ea286a2.png" class="d-block" width=100% height="550" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="text-center mx-auto" style="width: 50%; margin-top: 4cm; margin-bottom:4cm;">
            <h2>Naturalmente Confortable</h2>
            <p>
                Habitaciones funcionales y modernos. Amplios espacios verdes. Piscina climatizada
                (de septiembre a abril) con energia solar, con yacuzzi, Gimnasio al aire libre.¡Abierto todo el año!</p>
        </div>
    </div>

    <div style="background-color:lightgray">
        <div class="text-center mx-auto" style="width: 50%; margin-top: 8cm;">
            <h2>Nuestras Unidades</h2>
            <p>
                El sistema de construccion permite que las unidades sean independientes de las areas comunes del hotel
            </p>
        </div>
        <div class="row" style="margin-top: 4cm;">
            <div class="card text-center col shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/6f38d4573ea286a2.png" class="card-img" style="margin-left:0;" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm;color:white">
                    <a href="@Url.Action("index", "habitaciones")" class="card-title">Habitaciones</a>
                </div>
            </div>
            <div class="card text-center col offset-1 shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/001b704a-city-15939-163e0a462f2.jpg" class="card-img" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm; color:white">
                    <h3 class="card-title">Paquetes</h3>
                </div>
            </div>
            <div class="card text-center col offset-1 shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/f33575d66100db4c3830ca1f53b1efa5.jpeg" class="card-img" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm;color:white">
                    <h3 class="card-title">Servicios</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 4cm;">
            <div class="card text-center col shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/6f38d4573ea286a2.png" class="card-img" style="margin-left:0;" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm;color:white">
                    <h3 class="card-title">Habitaciones</h3>
                </div>
            </div>
            <div class="card text-center col offset-1 shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/001b704a-city-15939-163e0a462f2.jpg" class="card-img" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm; color:white">
                    <h3 class="card-title">Paquetes</h3>
                </div>
            </div>
            <div class="card text-center col offset-1 shadow-sm transition" style="padding:1rem; margin:1rem;">
                <img src="/img/f33575d66100db4c3830ca1f53b1efa5.jpeg" class="card-img" height="300" alt="...">
                <div class="card-img-overlay" style="margin-top: 3cm;color:white">
                    <h3 class="card-title">Servicios</h3>
                </div>
            </div>
        </div>


    </div>
</div>