<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kpurganaa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kpurganaa.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex container-fluid" style="background-image: url(/img/);background-size:cover">
        <!-- Sidebar -->
        <nav class="navbar navbar-expand-sm justify-content-center navbar-light bg-light flex-column align-items-start position-fixed vh-100" style="background-image: url(/img/madera.png);background-size:cover">
            <a class="d-flex justify-content-center align-items-center  w-100 navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">kpurganaa</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse m-auto row" id="sidebarNav">
                <ul class="navbar-nav flex-column ">
                    @if (User.IsInRole("cliente") || User.IsInRole("administrador"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="reservas" asp-action="Index">Reservas</a>
                        </li>
                    }
                    @if (User.IsInRole("administrador"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="paquetes" asp-action="Index">Paquetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="paquetesservicios" asp-action="Index">paquetesservicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="servicios" asp-action="Index">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="habitaciones" asp-action="Index">Habitaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="permisoes" asp-action="Index">Permisos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="personas" asp-action="Index">Personas</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="roles" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="rolespermisoes" asp-action="Index">RolPermisos</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="tiposhabitaciones" asp-action="Index">TipoHabitacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="usuarios" asp-action="Index">Usuarios</a>
                        </li>
                       
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="usuarios" asp-action="iniciarSesion">iniciarSesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="usuarios" asp-action="Salir">Salir</a>
                    </li>
                   
                   
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="flex-grow-1 p-3" style="margin-left: 150px;background-image: url(/img/f33575d66100db4c3830ca1f53b1efa5.jpeg);background-size:cover">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-auto py-3">
        <div class="container">
            &copy; 2024 - kpurganaa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
