@{
    ViewData["Title"] = "Confirmación de Restablecimiento de Contraseña";
}

<h2>@ViewData["Title"]</h2>

<p>Tu contraseña ha sido restablecida exitosamente.</p>
<a asp-action="restablecerclave" class="btn btn-primary">restablecerclave</a>
